* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html {
  --main-blue-color: #244c98;
  --secondary-blue-color: #1f4284;

  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.transition {
  transition: ease all 0.3s;
}

.content {
  margin: 3.6rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  max-width: 184rem;
  max-height: 45.5rem;
  background-color: #ebf0fa;
}

.description {
  max-width: 50%;
  padding: 7.2rem 10.2rem;
}

.description__header {
  margin-bottom: 1.8rem;
  color: var(--secondary-blue-color);
  font-weight: 500;
  font-size: 3rem;
}

.description__text {
  margin-bottom: 3.6rem;
  text-align: justify;
  color: #727272;
  font-weight: 400;
  font-size: 1.7rem;
}

.description__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 34.1rem;
  max-height: 6.8rem;
  border-radius: 6rem;
  padding: 1.2rem 1.2rem 1.2rem 2.4rem;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  background-color: var(--main-blue-color);
  border: none;
}

.description__btn:hover {
  background-color: #6990ca;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 4.4rem;
  background-color: #fff;
}

.description__btn:hover .link-icon {
  transform: rotate(360deg);
}

.content__image {
  width: 50%;
  max-height: inherit;
  object-fit: cover;
  border-radius: 0 1rem 1rem 0;
}

.modal {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #928f8f65;
  opacity: 0;
}

.modal.removed {
  display: none;
}

.modal.visible {
  opacity: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2.4rem;
  width: 33vw;
  max-width: 50rem;
  min-width: 35rem;
  max-height: 57.5rem;
  background-color: #f0f4fc;
  opacity: inherit;
}

.login-form__cross-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-form__cross {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 1rem;
}

.login-form__cross:hover {
  background-color: #dbdbdb;
}

.login-form__cross:hover img {
  transform: scale(1.2);
}

.login-form__header {
  color: #323232;
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}

.login-form__input {
  width: 100%;
  background-color: #d7e2f6;
  border-radius: 1rem;
  border: none;
  padding: 2.4rem;
  outline: none;
  margin-bottom: 0.4rem;
}

.login-form__input::placeholder {
  color: var(--secondary-blue-color);
  font-weight: 500;
  font-size: 1.8rem;
}

.remember-pass {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.4rem;
  margin: 2.4rem 0;
}
.remember-pass__checkbox {
  cursor: pointer;
  transform: scale(1.85);
  margin: 0 1rem 0 0.7rem;
  border-color: #323232;
}
.remember-pass__text {
  font-weight: 400;
  font-size: 1.8rem;
}
.login-form__restore-link {
  text-decoration: none;
  color: var(--main-blue-color);
  margin-bottom: 3.6rem;
  font-weight: 500;
  font-size: 2rem;
}

.login-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 1.8rem 0;
  font-weight: 500;
  font-size: 1.8rem;
  border-radius: 0.4rem;
}

.submit {
  border: none;
  background-color: var(--main-blue-color);
  color: #fff;
  margin-bottom: 0.4rem;
}

.register {
  text-decoration: none;
  border: 0.1rem solid var(--main-blue-color);
  color: var(--main-blue-color);
}

@media (max-width: 1440px) {
  .description__header {
    font-size: 2.6rem;
  }

  .description {
    max-width: 100%;
  }
  .content__image {
    width: 100%;

    border-radius: 0 0 1rem 1rem;
  }
}
@media (max-width: 1200px) {
  .content {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .content {
    margin: 2.4rem;
    max-height: max-content;
  }
  .description {
    padding: 2.4rem;
  }
  .description__header {
    font-size: 2rem;
  }
  .description__text,
  .description__btn {
    font-size: 1.5rem;
  }
  .description__btn {
    line-height: 24px;
    padding: 1rem 1rem 1rem 1.8rem;
  }
}

@media (max-width: 375px) {
  .description__header {
    font-size: 1.7rem;
  }
  .description__text {
    font-size: 1.3rem;
  }
}
